*/*.out
*/CMakeCache.txt
*/CMakeFiles/
*/Makefile
*/cmake_install.cmake
*/compile_commands.json
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
build
18/pyramid.txt
67/pyramid.txt
