*/*.out
4/CMakeCache.txt
4/CMakeFiles/
4/Makefile
4/cmake_install.cmake
4/compile_commands.json
5/CMakeCache.txt
5/CMakeFiles/
5/Makefile
5/cmake_install.cmake
5/compile_commands.json
6/CMakeCache.txt
6/CMakeFiles/
6/Makefile
6/cmake_install.cmake
6/compile_commands.json
7/CMakeCache.txt
7/CMakeFiles/
7/Makefile
7/cmake_install.cmake
7/compile_commands.json
